<%-include('./partials/header.ejs')   %>
    <title>Document</title>
</head>
<body>
    
    <form action="/blogs" method="POST">
        Title: <input type="text" name="title"/>
        snippet: <input type="text" name="snippet"/>
        Body :<input type="text" name="body">
        <input type="submit" value="submit">
        New Title: <input type="text" name="new title"/>
        snippet code: <input type="text" name="snippet code"/>
        Background :<input type="text" name="background">
        <input type="submit" value="submit">
        </form>
        <nav>
            <a href="/home">Home Page</a>
            <a href="/about">About Page</a>
            </nav>
            <%-include('./partials/footer.ejs')   %>
</body>
</html>
