<%-include('./partials/header.ejs')   %>
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the <%=home%> home page</h1>
    <nav>
        <a href="/home">Home Page</a>
        <a href="/about">About Page</a>
         <a href="/Login">Login Page</a>
        <a href="/signup">Signup Page</a>
        <a href="/">Login  Page</a>
        </nav>
        <%-include('./partials/footer.ejs')   %>
</body>
</html>
